   * {
  text-align: center;
  color: black;
}



.btn{
   background-color: orange;
   padding:14px 14px;
   font-size:20px;
   border-radius:14px;
    border:none;
    cursor: pointer;
}
    :hover{
        color: black;
    }

    .id{
        background-color: lightgrey;
        padding:20px 20px;
        border-radius:14px;
        width: 25%;
        align-items: center;
        margin-left: 35%;
    }

.id1{
        background-color: lightyellow;
        padding:20px 20px;
        border-radius:14px;
        width: 25%;
        align-items: center;
        margin-left: 35%;
        border: 2px solid black;
    }

    h1{
        color: red;
    }
    #cont{
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: blue;
        border: 5px solid black;
        background-color: lightgrey;
        padding: 10px;
        width: 50%;
        margin-left: 25%;
        height: 50px;
        padding-top: 20px;

    }


.box {
  position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;

}
.fileInput {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  border: 2px solid black;
}

.box img {
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
  top: 10px;
  left: 10px;
  z-index: -1;
}
