*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f2f5;
    font-family: 'arial', sans-serif;
}
h1{
    text-align: center;
    color: blue;
    margin-top: 30px;
}
.login{
    width: 350px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;

}
.login button:first-of-type{
    background-color: #1877f2;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.login button:last-of-type{
    background-color: #42b72a;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.login button:first-of-type:hover{
    background-color: #165cbb;
}

.login button:last-of-type:hover{
    background-color: #36a420;
}

input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: #165cbb;
}
a{
    color: #1877f2;
    text-decoration: none;
    padding-left: 100px;
    font-size: 14px;
}
a:hover{
    text-decoration: underline;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
    margin: 8px 0;;
}

h5{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}