#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.read-the-docs:hover {
  color: #000;
}

button {
  font-size: 20px;
  padding: 8px 10px;
  margin:12px ;
  border: none;
  border-radius: 8px;
  background-color: #353b3caa;
  color:white;
}
button:hover {
  background-color: #1f2527aa;
}
h1{
  color: black;
}

.usercard{
  display: flex;
  flex-direction: column;   /* important */
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 2px rgb(51, 46, 46);
  border-radius: 10px;
  padding: 0 8px;
  width: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.usercard:hover{
  background-color: rgb(69, 67, 67);
  color: white;
}

.user{
  display: flex;
  gap: 30px;
}
.userImage {
  width: 220px;         /* image width */
  height: 220px;        /* fixed height */
  object-fit: cover;    /* cover the box nicely */
  border-radius: 50%;
  margin-top: 20px;   /* optional: make it circular */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
